#add-list {
  width: 350px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.12);
  color: #fff;
  border-radius: 5px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    input {
      padding: 10px;
      border: none;
      border-radius: 3px;
      font-size: 16px;
    }

    button {
      padding: 10px;
      border: none;
      border-radius: 3px;
      background-color: #28a745;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #218838;
      }
    }
  }
}
