#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-family: sans-serif;
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
  }
}
html,
body {
  height: 100%;
  margin: 0;
}

#management {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 20px;
  margin-top: 90px;
  @media (max-width: 768px) {
    width: 100vw;
  }
}

body {
  background-image: url("../../../assets/img/2.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; /* optional */
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1);
}

#project-list {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 80vh;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.12);
}

#content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 90px;
  overflow-x: auto;
  margin-left: 20px;
}

#content .project-container {
  min-width: 300px;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.441);
  pointer-events: none;
  z-index: -1;
}
