#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  color: #fff;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-image: url("../../../public/assets/img/1.webp");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed; /* optional */
}

#project-list {
  border: 2px solid rgba(116, 0, 248, 0.9);
  border-radius: 8px;
  overflow: hidden;

  background-color: rgba(0, 0, 0, 0.5);
}

#content {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-left: 20px;
}

#content div {
  min-width: 300px;
  flex-grow: 1;
  flex-shrink: 1;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.6);
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.1);
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: -1;
}
