#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 15px 50px;
  background-image: url("../../../public/assets/img/1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-family: sans-serif;
}
