.form {
  background-color: #01295c;
  height: fit-content;
  padding: 20px;
  border-radius: 5px;
  min-width: 350px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  .form-control {
    display: flex;
    flex-direction: column;
    gap: 3px;

    input {
      outline: none;
      border: 2px solid #000000;
      border-radius: 2px;
      padding: 10px 5px;
      &:focus {
        border: 2px solid #a626aa;
      }
    }

    select {
      outline: none;
      border: 2px solid #000000;
      border-radius: 2px;
      padding: 10px 5px;
      &:focus {
        border: 2px solid #a626aa;
      }
    }
  }

  button {
    background-color: #000000;
    padding-block: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
  }
}
