.login-container {
  width: 100vw;
  min-height: 100vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  .login-image {
    background-color: #00112c;
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-form {
    .login-header {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      padding: 10px;
      text-align: center;
      margin-bottom: 20px;
    }
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    margin: auto;
    align-content: center;
    padding: 30px;
    flex: 1;
    .form-control {
      margin-bottom: 15px;
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      .password-wrapper {
        position: relative;
        .show-password {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
          font-size: 18px;
          color: #666;
        }
      }
      input {
        width: 100%;
        padding: 16px 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        font-size: 17px;
        border-radius: 3px;
      }
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }

    .login-footer {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      span {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .login-image {
      display: none;
    }
    .login-form {
      flex: none;
      width: 90%;
      padding: 20px;
    }
  }
}
