.popup-container.visible {
  position: absolute;
  inset: 0;
  max-width: 500px;
  display: block;
  min-height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  background-color: #16214d;
  animation: flowUp 0.3s linear forwards;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
    i {
      font-size: 18px;
      cursor: pointer;
      border: 2px solid #fff;
      transition: all 0.2s linear;
      padding: 5px;
      border-radius: 50%;
      &:hover {
        color: #d40000;
        border-color: #d40000;
      }
    }
    h2 {
      font-size: 20px;
      font-weight: 700;
    }
  }

  p {
    color: #d40000;
  }
}

.popup-container {
  display: none;
}

@keyframes flowUp {
  0% {
    transform: translate(-50%, -20%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
#overlay {
  visibility: hidden;
}

#overlay.visible {
  visibility: visible;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5); /* slight dark tint optional */

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  inset: 0;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
}
