.project-container {
  .list-header {
    background-color: #01295c;
    padding: 10px;
  }

  .project-list {
    border: 1px solid #bfbfbf;
    padding: 10px 5px;
    border-radius: 2px;
    background-color: #0066a1;
  }
}
