.project-container {
  .list-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(15, 23, 42, 0.85);
    backdrop-filter: blur(6px);

    gap: 10px;
    padding: 20px;
    i {
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      &:hover {
        color: #ffcc00;
      }
    }
    h2 {
      width: 100% !important;
      word-break: break-word;
      overflow-wrap: break-word;
    }
    .add-list-icon,
    .close-list-icon {
      display: none;
    }
    .list-header-icons {
      display: flex;
      gap: 10px;
    }
  }
  .project-list {
    border: 2px solid #fff;
    border-radius: 2px;
    padding: 10px 5px;
    border-radius: 2px;
    margin: 10px 0;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.12);
    background: rgba(255, 255, 255, 0.95);
    color: #0f172a;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-inline: 10px;
    cursor: grab;
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;
    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    .project-footer {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
      margin-top: 5px;
      border-top: 1px solid #000;
      padding-top: 5px;
      i {
        cursor: pointer;
        color: #000;
        &:hover {
          color: #ff4d4d;
        }
      }
    }
  }
}
