.register-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  width: 100%;
  min-height: fit-content;
  color: #000;

  .icon {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: #0056b3;
    align-items: center;
    canvas {
      width: 90%;
      height: 300px;
    }
  }
  .register-form {
    flex: 1;
    align-content: center;
    padding: 50px;
    border-radius: 8px;
    .register-header {
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
      h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 28px;
      }
    }
    .form-control {
      input {
        width: 100%;
        font-size: 16px;
        padding: 16px 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 3px;
      }
      margin-bottom: 15px;
      .password-wrapper {
        position: relative;

        i {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
          font-size: 14px;
          padding: 0;
        }
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      position: relative;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 3px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        background-color: #0056b3;
      }
    }

    .register-footer {
      text-align: center;
      margin-top: 20px;
      font-size: 14px;
      span {
        color: #007bff;
        cursor: pointer;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }

      @media (max-width: 768px) {
        .register-header {
          h2 {
            font-size: 24px;
          }
          p {
            font-size: 14px !important;
            max-width: 70% !important;
            margin: auto;
            font-weight: 500;
          }
        }
      }
    }

    @media (max-width: 768px) {
      canvas {
        display: none;
      }

      .register-header {
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 14px !important;
          max-width: 70% !important;
          margin: auto;
          font-weight: 500;
        }
      }
    }
  }
  @media (max-width: 768px) {
    height: fit-content;
    .icon {
      display: none;
    }
    padding: 20px;
    .welcome-section {
      display: none;
    }
    .register-form {
      flex: none;
      width: 100%;
      height: 100%;
    }
  }
}
